h1 {
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    margin: 10px auto;
}

.formulario {
    width: 100%;
    background-color: rgb(224, 255, 253);
    padding: 20px;
    margin-bottom: 20px;    
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.error {
    color: red;
    font-size: 0.8em;
}